.directory-menu {
  width: 95%;
  height: 98vh;
  display: grid;
  grid-template-columns: 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3% 8.3%;
  grid-template-rows: 38% 62%;
  margin: 0.5em 0 0 0;
  grid-template-areas:
    " box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3 "
    " box4 box4 box4 box4 box4 box4 box5 box5 box5 box5 box5 box5 ";
}
